<%- breadcrumb %>
<div class="card">
    <div class="card-header">
        <h2 class="m-b-5"><%- title %></h2>
    </div>
    <div class="card-body card-padding">
        <form role="form" class="form-horizontal" id="update-appointmentconfigs" enctype="multipart/form-data">
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Số lượng đặt chỗ cho phép</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" class="form-control" id="name" name="sldatcho" value="<%= appointmentconfigs.maxAllowed[0].fieldValue %>">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-3 control-label">Khung giờ khám</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" id="price"  class="form-control" name="khunggiokham" value=<%= appointmentconfigs.timeFrame[0].fieldValue %>>
                    </div>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-offset-3 col-sm-10">
                    <a class="btn btn-default btn-icon-text m-t-10 m-r-10 waves-effect waves-effect" id="btn-back" name="btn-back" href="/#appointmentconfigs"><i class="m-r-5 zmdi zmdi-arrow-left"></i>Quay lại</a>
                    <button type="submit" class="btn btn-primary btn-icon-text m-t-10 waves-effect"><i class="m-r-5 zmdi zmdi-plus-circle-o"></i>Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>